In [2]:
import pandas as pd
import numpy as np

In [3]:
#read my database
df = pd.read_excel('/Users/liuyingxue/Desktop/UEFA Champions League 2018-2023 Data.xlsx')
df

,MATCH_ID,SEASON,DATE_TIME,HOME_TEAM,AWAY_TEAM,STADIUM,HOME_TEAM_SCORE,AWAY_TEAM_SCORE
0,a1,2023,2023-06-11,Manchester City,Inter,Atatürk Olimpiyat,1,0
1,a2,2023,2023-05-17,Manchester City,Real Madrid,Etihad Stadium,4,0
2,a3,2023,2023-05-16,Inter,AC Milan,Giuseppe Meazza,1,0
3,a4,2023,2023-05-10,AC Milan,Inter,Giuseppe Meazza,0,2
4,a5,2023,2023-05-09,Real Madrid,Manchester City,Santiago Bernabéu,1,1
...,...,...,...,...,...,...,...,...
614,e121,2019,2019-04-30,Tottenham Hotspur,AFC Ajax,Tottenham Hotspur Stadium,0,1
615,e122,2019,2019-05-01,Barcelona,Liverpool FC,Spotify Camp Nou,3,0
616,e123,2019,2019-05-07,Liverpool FC,Barcelona,Anfield,4,0
617,e124,2019,2019-05-08,AFC Ajax,Tottenham Hotspur,Johan Cruijff ArenA,2,3
618,e125,2019,2019-06-01,Tottenham Hotspur,Liverpool FC,Wanda Metropolitano,0,2

In [4]:
#Define total score as the number of goals by the home team minus the number of goals by the away team
df['TOTAL SCORE'] = df['HOME_TEAM_SCORE'] - df['AWAY_TEAM_SCORE']
df

,MATCH_ID,SEASON,DATE_TIME,HOME_TEAM,AWAY_TEAM,STADIUM,HOME_TEAM_SCORE,AWAY_TEAM_SCORE,TOTAL SCORE
0,a1,2023,2023-06-11,Manchester City,Inter,Atatürk Olimpiyat,1,0,1
1,a2,2023,2023-05-17,Manchester City,Real Madrid,Etihad Stadium,4,0,4
2,a3,2023,2023-05-16,Inter,AC Milan,Giuseppe Meazza,1,0,1
3,a4,2023,2023-05-10,AC Milan,Inter,Giuseppe Meazza,0,2,-2
4,a5,2023,2023-05-09,Real Madrid,Manchester City,Santiago Bernabéu,1,1,0
...,...,...,...,...,...,...,...,...,...
614,e121,2019,2019-04-30,Tottenham Hotspur,AFC Ajax,Tottenham Hotspur Stadium,0,1,-1
615,e122,2019,2019-05-01,Barcelona,Liverpool FC,Spotify Camp Nou,3,0,3
616,e123,2019,2019-05-07,Liverpool FC,Barcelona,Anfield,4,0,4
617,e124,2019,2019-05-08,AFC Ajax,Tottenham Hotspur,Johan Cruijff ArenA,2,3,-1
618,e125,2019,2019-06-01,Tottenham Hotspur,Liverpool FC,Wanda Metropolitano,0,2,-2

In [5]:
#classify the results by three conditions
conditions = [
    df['TOTAL SCORE'] > 0,
    df['TOTAL SCORE'] == 0,
    df['TOTAL SCORE'] <0
]

choices = ['Home team wins', 'Draw', 'Away team wins']

df['Result'] = np.select(conditions, choices)

print(df)

    MATCH_ID  SEASON  DATE_TIME          HOME_TEAM          AWAY_TEAM  \
0         a1    2023 2023-06-11    Manchester City              Inter
1         a2    2023 2023-05-17    Manchester City        Real Madrid
2         a3    2023 2023-05-16              Inter           AC Milan
3         a4    2023 2023-05-10           AC Milan              Inter
4         a5    2023 2023-05-09        Real Madrid    Manchester City
..       ...     ...        ...                ...                ...
614     e121    2019 2019-04-30  Tottenham Hotspur           AFC Ajax
615     e122    2019 2019-05-01          Barcelona       Liverpool FC
616     e123    2019 2019-05-07       Liverpool FC          Barcelona
617     e124    2019 2019-05-08           AFC Ajax  Tottenham Hotspur
618     e125    2019 2019-06-01  Tottenham Hotspur       Liverpool FC

                       STADIUM  HOME_TEAM_SCORE  AWAY_TEAM_SCORE  TOTAL SCORE  \
0            Atatürk Olimpiyat                1                0            1
1               Etihad Stadium                4                0            4
2              Giuseppe Meazza                1                0            1
3              Giuseppe Meazza                0                2           -2
4            Santiago Bernabéu                1                1            0
..                         ...              ...              ...          ...
614  Tottenham Hotspur Stadium                0                1           -1
615           Spotify Camp Nou                3                0            3
616                    Anfield                4                0            4
617        Johan Cruijff ArenA                2                3           -1
618        Wanda Metropolitano                0                2           -2

             Result
0    Home team wins
1    Home team wins
2    Home team wins
3    Away team wins
4              Draw
..              ...
614  Away team wins
615  Home team wins
616  Home team wins
617  Away team wins
618  Away team wins

[619 rows x 10 columns]

In [8]:
#df.to_excel('clean_data.xlsx')

In [7]:
teams = df['HOME_TEAM'].unique()
teams

array(['Manchester City', 'Inter', 'AC Milan', 'Real Madrid',
       'Bayern Munich', 'Napoli', 'Chelsea FC', 'Benfica', 'FC Porto',
       'Tottenham Hotspur', 'RB Leipzig', 'Liverpool FC',
       'Eintracht Frankfurt', 'Borussia Dortmund', 'Club Brugge KV',
       'Paris Saint-Germain', 'Maccabi Haifa', 'Juventus',
       'FC Copenhagen', 'Shakhtar Donetsk', 'Viktoria Plzeň',
       'Sporting CP', 'Rangers', 'Marseille', 'Bayer Leverkusen',
       'Barcelona', 'Atlético Madrid', 'AFC Ajax', 'Dinamo Zagreb',
       'Celtic', 'Sevilla FC', 'RB Salzburg', 'Beşiktaş', 'FC Sheriff',
       'Dinamo Kiev', 'SL Benfica', 'BSC Young Boys', 'Villarreal CF',
       'Atalanta', 'Manchester United', 'Lille OSC', 'VfL Wolfsburg',
       'Malmö FF', 'Zenit St. Petersburg', 'Lokomotiv Moskva',
       'Bor. Mönchengladbach', 'Olympiakos Piraeus',
       'Olympique Marseille', 'FC Midtjylland', 'Stade Rennes',
       'FK Krasnodar', 'Lazio Roma', 'Ferencvárosi TC',
       'İstanbul Başakşehir', 'Galatasaray', 'Crvena Zvezda', 'KRC Genk',
       'Slavia Praha', 'Olympique Lyon', 'Valencia CF', 'AS Monaco',
       'PSV Eindhoven', 'FC Schalke 04', 'AEK Athen', '1899 Hoffenheim',
       'CSKA Moskva', 'AS Roma'], dtype=object)